<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layouts/main">
<head>
    <title th:text="#{view.main.layouts.main.menu-admin-group}">用户组管理</title>
</head>
<body>
<div layout:fragment="content">
    <section>
        <div class="section-header">
            <ol class="breadcrumb">
                <li><a th:href="@{/admin/groups}" th:text="#{view.main.layouts.main.menu-admin-group}">用户组管理</a></li>
                <li class="active" th:text="#{view.admin.groups.button.create}">添加用户组</li>
            </ol>
        </div>
        <div class="section-body">
            <div class="col-lg-6 col-lg-offset-3">
                <form class="form floating-label" novalidate="novalidate" th:method="post" th:action="@{/admin/groups}"
                      th:object="${group}" modelAttribute="group">
                    <div class="card">
                        <div class="card-head card-head-sm style-primary">
                            <header th:text="#{view.admin.groups.button.create}">添加用户组</header>
                        </div>
                        <div class="card-body">
                            <div class="form-group"
                                 th:attrappend="class=${#fields.hasErrors('groupName')?' has-error':''}">
                                <input type="text" class="form-control" th:field="*{groupName}">
                                <span th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}"
                                      class="help-block"></span>
                                <label th:for="*{groupName}"
                                       th:text="#{view.admin.groups.field.groupName}">用户组标识</label>

                                <p class="help-block">如：ADMIN</p>
                            </div>
                            <div class="form-group" th:attrappend="class=${#fields.hasErrors('name')?' has-error':''}">
                                <input type="text" class="form-control" th:field="*{name}">
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                      class="help-block"></span>
                                <label th:for="*{name}" th:text="#{view.admin.groups.field.name}">用户组名称</label>

                                <p class="help-block">如：管理员</p>
                            </div>
                            <div class="form-group"
                                 th:attrappend="class=${#fields.hasErrors('description')?' has-error':''}">
                                <input type="text" class="form-control" th:field="*{description}">
                                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                                      class="help-block"></span>
                                <label th:for="*{description}"
                                       th:text="#{view.admin.groups.field.description}">用户组描述</label>

                                <p class="help-block">如：管理用户组</p>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="radio-inline radio-styled radio-primary">
                                        <input name="enabled" type="radio" value="0">
                                        <span th:text="#{view.admin.authorities.field.enabled.true}">禁用</span>
                                    </label>
                                    <label class="radio-inline radio-styled radio-primary">
                                        <input name="enabled" type="radio" value="1" checked="">
                                        <span th:text="#{view.admin.authorities.field.enabled.false}">启用</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--end .card-body -->
                        <div class="card-actionbar">
                            <div class="card-actionbar-row">
                                <button type="submit" class="btn btn-primary ink-reaction"
                                        th:text="#{view.admin.users.field.add}">添加
                                </button>
                            </div>
                        </div>
                        <!--end .card-actionbar -->
                    </div>
                    <!--end .card -->
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>