<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="admin/layouts/main">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<section layout:fragment="content">
    <div class="section-header">
        <ol class="breadcrumb">
            <li class="active" th:text="#{view.layouts.main.menu-jobs}">工作机会列表</li>
        </ol>
    </div>
    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="section-action">
                        <div class="section-floating-action-row">
                            <a class="btn ink-reaction btn-floating-action btn-primary" th:href="@{/admin/jobs/create}"
                               th:attr="data-original-title=#{view.admin.jobs.create}"
                               data-toggle="tooltip" data-placement="top">
                                <i class="md md-add"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center" th:text="#{view.admin.jobs.jobname}">职位名称</th>
                                        <th class="text-center" th:text="#{view.admin.jobs.location}">工作地点</th>
                                        <th class="text-center" th:text="#{view.admin.jobs.operation}">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" th:each="job : ${page.getContent()}">
                                        <td th:text="${jobStat.count}">1</td>
                                        <td th:text="${job.jobName}">java工程师</td>
                                        <td th:text="${job.location}">上海</td>
                                        <td>
                                            <form action="#"
                                                  th:action="${#mvc.url('JIC#delete').arg(0,job.id).build()}" method="post" th:method="delete">
                                                <a href="#" th:href="${#mvc.url('JCC#editor').arg(0,job.id).build()}">
                                                    <button type="button" class="btn btn-icon-toggle" name="editornow"
                                                        data-toggle="tooltip" data-placement="top" title="Editor"><i
                                                            class="fa fa-pencil"></i></button></a>
                                                <button type="button" class="btn btn-icon-toggle" name="deletenow"
                                                        data-toggle="tooltip" data-placement="top" title="Delete"><i
                                                        class="md md-delete"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div sd:pagination-summary="">info</div>
                            </div>
                            <div class="col-sm-6">
                                <nav class="pull-right">
                                    <ul class="pagination" sd:pagination="full">
                                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                        <li class="disabled"><a href="#" aria-label="Previous"><span
                                                aria-hidden="true">&laquo;</span></a></li>
                                        <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="model-title" id="deleteModalLabel" style="display:inline" th:text="#{view.admin.jobs.deletepreview}">删除提示</h4>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p th:text="#{view.admin.jobs.confirm-delete}">你确认删除该条记录吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{view.admin.jobs.esc}">取消</button>
                    <button type="button" class="btn btn-primary" name="reconfirm" th:text="#{view.admin.jobs.delete}">确认删除</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script layout:fragment="script">
    $("button[name='deletenow']").on("click", function () {
        var $form = $(this).closest("form");
        $("#deleteModal").modal();
        $("button[name='reconfirm']").on("click",function(){
            $form.trigger('submit');
        });
    });
</script>
</body>
</html>